{% extends 'base.html'%}
{% block content %}
{% load static%}
<body class="home" data-debug="0">
    <div class="wrapper ">
        <section id="content">
            <div class="content-view">
                <div class="box-site-head js-single-element"
                     data-model="{&quot;likes&quot;:55,&quot;id&quot;:38186,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2019\/10\/5da42f4e8967d075754281.jpg&quot;},&quot;slug&quot;:&quot;laguta-laguta&quot;,&quot;title&quot;:&quot;Laguta &amp; Laguta&quot;,&quot;createdAt&quot;:1571616000,&quot;tags&quot;:[&quot;Design Agencies&quot;,&quot;Mobile &amp; Apps&quot;,&quot;Web &amp; Interactive&quot;,&quot;Flat Design&quot;,&quot;Minimal&quot;,&quot;Portfolio&quot;,&quot;Responsive Design&quot;,&quot;Black&quot;,&quot;Red&quot;,&quot;White&quot;,&quot;Gallery&quot;,&quot;GSAP Animation&quot;,&quot;UI design&quot;,&quot;Nuxt.js&quot;],&quot;type&quot;:&quot;submission&quot;}">
                    <div class="box-bg has-tablet" style="height:500px;">
                        <a href="/">
    
                            <img src="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_960_720.jpg"
                                 data-src="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_960_720.jpg"
                                 alt="Laguta &amp; Laguta" width="1900" height="200" class="lazy"/>
                        </a>
                    </div>
                    <div class="box-photo has-mobile">
                        <a href="/">
                            <img src="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_960_720.jpg"
                                 data-srcset="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_960_720.jpg"
                                 alt="Laguta &amp; Laguta" class="lazy"/>
                                </strong> Site <strong>the</strong> day <strong>october 30,2020</strong>
                            
                        </a>
                    </div>
                    <div class="box-content">
                        <a href="/" class="site-link" aria-label="Laguta &amp; Laguta"></a>
                        <div class="inner vertical-center">
                            <div class="box-info">
                                <div class="row">
                                    <h2 class="heading-large"><a href="{{image.url}}">Ocean Tides</a></h2>
                                </div>
                                <div class="row">
                                    <div class="by">
                                        by <strong>
    
                                        <a href="https://github.com/RonnyLincoln">Ronny</a>
                                    </strong> from <strong>Kenya</strong> with <strong>7.58</strong>
                                    </div>
                                </div>
                                <div class="box-notesite js-notes">
                                    <li class="circle-note-progress style-design" data-note="">
                                        <div class="circle">
                                            <div class="des">
                                                <p class="d-block mx-auto textrate">7.78</p>
                                            </div>
                                        </div>
                                        <div class="legend">DESIGN</div>
                                    </li>
                                    <li class="circle-note-progress style-usability"
                                        data-note="{{rating.usability_average}}">
                                        <div class="circle">
                                            <div class="des1">
                                                <p class="d-block mx-auto textrate">7.00</p>
                                            </div>
                                        </div>
                                        <div class="legend">USABILITY</div>
                                    </li>
                                    <li class="circle-note-progress style-creativity"
                                        data-note="{{rating.content_average}}">
                                        <div class="circle">
                                            <div class="des2">
                                                <p class="d-block mx-auto textrate">7.41</p>
                                            </div>
                                        </div>
                                        <div class="legend">CREATIVITY</div>
                                    </li>
                                     <li class="circle-note-progress style-creativity"
                                        data-note="{{rating.content_average}}">
                                        <div class="circle">
                                            <div class="des2">
                                                <p class="d-block mx-auto textrate">8.10</p>
                                            </div>
                                        </div>
                                        <div class="legend">CONTENT</div>
                                    </li>
                                    <li class="circle-note-progress style-content" data-note="5.65">
                                        <div class="circle">
                                            <div class="des3">
                                                <p class="d-block mx-auto textrate">7.10</p>
                                            </div>
                                        </div>
                                        <div class="legend">MOBILE</div>
                                    </li>
                                </ul>

                            </div>
                        </div>

</section>
</div>
</body>
{% endblock%}