{% extends 'base.html'%}
 {% block content %}
 <section class="main-banner" id="home">

    <div class="container">

        <div class="baner-info-w3ls text-left">
            <h1 id="heading"><a href="/">Awwards</a></h1>
            <h6 class="mx-auto mt-4" id="heading-small">A
                collection of my favourite projects </h6> <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll"
                                                             href="#about" role="button">Explore</a>

            <div class="banner-high-lights text-left">

                <div class="rotate">
                    <a href="#about" class="scroll">

                        <span class="fa fa-long-arrow-down">
</span> </a>
                </div>
            </div>
        </div>
    </div>
</section>








</section>
{% endblock %}